body {
  header {
    background-color: black;
    .header-container {
      max-width: 1440px;
      height: 100px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .header_content {
        max-width: 1110px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navigation {
          @media (max-width: 700px) {
            display: none;
          }

          nav {
            .header-ul {
              display: flex;
              gap: 30px;
              a {
                font-size: large;
                color: white;
                text-decoration: none;
              }
            }
          }
        }
        .cart {
          a {
            .cartIcon {
              width: 24px;
              height: 20px;
              path {
                transition: 250ms;
              }
            }
            &:hover {
              .cartIcon {
                path {
                  fill: orange;
                  transition: 250ms;
                }
              }
            }
          }
        }
      }
    }
    .underLine {
      max-width: 1110px;
      width: 100%;
      margin: 0 auto;
      background-color: #979797;
      height: 1px;
    }
  }
}
