body {
  .products {
    display: flex;
    background-color: black;

    .main-section-container {
      display: flex;
      max-width: 1110px;
      width: 100%;
      margin: 0 auto;

      .main-container {
        flex: 0.4;
        padding-top: 50px;
        .h3 {
          color: #979797;
          padding-bottom: 20px;
        }
        .product {
          letter-spacing: 10px;
          color: #979797;
        }
        .text {
          color: white;
          font-weight: 600;
        }
        .h1 {
          font-size: xx-large;
        }
        .ExperienceNatural {
          padding-top: 20px;
          font-size: small;
          color: #979797;
        }
        .product-button {
          padding-top: 50px;
        }
        .button {
          width: 160px;
          height: 48px;
          background-color: #d87d4a;
          color: white;
          border-radius: 12px;
        }
      }
      .imgContainer {
        flex: 0.6;
        img {
          width: 100%;
        }
      }
    }
  }

  .product-lists {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 150px;

    .product-list-container {
      max-width: 1110px;
      width: 100%;
      display: flex;
      justify-content: space-around;

      .hp {
        width: 350px;
        height: 304px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
      .speaker {
        width: 350px;
        height: 304px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
      .earphones {
        width: 350px;
        height: 304px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
    }
  }
  .beforefooter {
    width: 1110px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .beforefooter-text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 80px;
      .paragraph {
        font: 500;
        font-size: x-large;
        color: #979797;
      }
      .beforefooter-container {
        padding-bottom: 30px;
        font-size: xx-large;
        font-weight: bolder;
      }
    }
  }
  .swiperMain {
    width: 1110px;
    height: 351px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    gap: 30px;
    .firstSwiper {
      width: 358px;
      height: 240px;
      border: 2px solid black;

      .SarahText {
        padding: 45px;
        .Sarah {
          padding-bottom: 12px;
        }
      }
    }
    .secondSwiper {
      width: 358px;
      height: 240px;
      border: 2px solid black;
      .alexText {
        padding: 45px;
        .alex {
          padding-bottom: 12px;
        }
      }
    }
    .thirdSwiper {
      width: 358px;
      height: 240px;
      border: 2px solid black;
      .jamesText {
        padding: 45px;
        .james {
          padding-bottom: 12px;
        }
      }
    }
  }
}
