body {
  .products {
    display: flex;
    background-color: black;

    .main-section-container {
      display: flex;
      max-width: 1110px;
      width: 100%;
      margin: 0 auto;

      .main-container {
        flex: 0.4;
        padding-top: 50px;
        .h3 {
          color: #979797;
          padding-bottom: 20px;
        }
        .product {
          letter-spacing: 10px;
          color: #979797;
        }
        .text {
          color: white;
          font-weight: 600;
        }
        .h1 {
          font-size: xx-large;
        }
        .ExperienceNatural {
          padding-top: 20px;
          font-size: small;
          color: #979797;
        }
        .product-button {
          padding-top: 50px;
        }
        .button {
          width: 160px;
          height: 48px;
          background-color: #d87d4a;
          color: white;
          border-radius: 12px;
        }
      }
      .imgContainer {
        flex: 0.6;
        img {
          width: 100%;
        }
      }
    }
  }

  .product-lists {
    display: flex;
    justify-content: center;
    background-color: white;

    .product-list-container {
      max-width: 1110px;
      width: 100%;
    }
  }
}
