/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

body header {
  background-color: black;
}
body header .header-container {
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
body header .header-container .header_content {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  body header .header-container .header_content .navigation {
    display: none;
  }
}
body header .header-container .header_content .navigation nav .header-ul {
  display: flex;
  gap: 30px;
}
body header .header-container .header_content .navigation nav .header-ul a {
  font-size: large;
  color: white;
  text-decoration: none;
}
body header .header-container .header_content .cart a .cartIcon {
  width: 24px;
  height: 20px;
}
body header .header-container .header_content .cart a .cartIcon path {
  transition: 250ms;
}
body header .header-container .header_content .cart a:hover .cartIcon path {
  fill: orange;
  transition: 250ms;
}
body header .underLine {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  background-color: #979797;
  height: 1px;
}

body .products {
  display: flex;
  background-color: black;
}
body .products .main-section-container {
  display: flex;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
body .products .main-section-container .main-container {
  flex: 0.4;
  padding-top: 50px;
}
body .products .main-section-container .main-container .h3 {
  color: #979797;
  padding-bottom: 20px;
}
body .products .main-section-container .main-container .product {
  letter-spacing: 10px;
  color: #979797;
}
body .products .main-section-container .main-container .text {
  color: white;
  font-weight: 600;
}
body .products .main-section-container .main-container .h1 {
  font-size: xx-large;
}
body .products .main-section-container .main-container .ExperienceNatural {
  padding-top: 20px;
  font-size: small;
  color: #979797;
}
body .products .main-section-container .main-container .product-button {
  padding-top: 50px;
}
body .products .main-section-container .main-container .button {
  width: 160px;
  height: 48px;
  background-color: #d87d4a;
  color: white;
  border-radius: 12px;
}
body .products .main-section-container .imgContainer {
  flex: 0.6;
}
body .products .main-section-container .imgContainer img {
  width: 100%;
}
body .product-lists {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 150px;
}
body .product-lists .product-list-container {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body .product-lists .product-list-container .hp {
  width: 350px;
  height: 304px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
body .product-lists .product-list-container .speaker {
  width: 350px;
  height: 304px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
body .product-lists .product-list-container .earphones {
  width: 350px;
  height: 304px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
body .beforefooter {
  width: 1110px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
body .beforefooter .beforefooter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}
body .beforefooter .beforefooter-text .paragraph {
  font: 500;
  font-size: x-large;
  color: #979797;
}
body .beforefooter .beforefooter-text .beforefooter-container {
  padding-bottom: 30px;
  font-size: xx-large;
  font-weight: bolder;
}
body .swiperMain {
  width: 1110px;
  height: 351px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  gap: 30px;
}
body .swiperMain .firstSwiper {
  width: 358px;
  height: 240px;
  border: 2px solid black;
}
body .swiperMain .firstSwiper .SarahText {
  padding: 45px;
}
body .swiperMain .firstSwiper .SarahText .Sarah {
  padding-bottom: 12px;
}
body .swiperMain .secondSwiper {
  width: 358px;
  height: 240px;
  border: 2px solid black;
}
body .swiperMain .secondSwiper .alexText {
  padding: 45px;
}
body .swiperMain .secondSwiper .alexText .alex {
  padding-bottom: 12px;
}
body .swiperMain .thirdSwiper {
  width: 358px;
  height: 240px;
  border: 2px solid black;
}
body .swiperMain .thirdSwiper .jamesText {
  padding: 45px;
}
body .swiperMain .thirdSwiper .jamesText .james {
  padding-bottom: 12px;
}/*# sourceMappingURL=global.css.map */